---
import ServiceItem from './ServiceItem.astro'
import {servicesData} from '../data/services.js'

---

  <div class="servicesContainer" >
    {
      servicesData.map((item, idx) => (
        <ServiceItem img={item} idx={idx} serviceDetails={item} noPrice = "Inquire for more details" />
      ))
    }
  </div>